{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
{% if latest_poll_list %}
    {% for poll in latest_poll_list %}
<div class="col-md-4">
    <div class="panel panel-primary">
         <div class="panel-heading" style="margin-bottom: 15px;">
<h1 class="panel-title">{{ poll.question }}</h1>
                        </div>
{% if error_message %}<p><strong>{{ error_massage }}</strong></p>{% endif %}
<form action="{% url 'vote' poll.id %}" method="post">
{% csrf_token %}
    {% for choice in poll.choice_set.all %}
    <div class="buttons" style="margin: 10px;">
        <h3><button type="submit" class="btn btn-success" style="" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"> {{ choice.choice_text }} </button></h3>
  <div class="progress">
  <div class="progress-bar" id="choice{{ forloop.counter }}" role="progressbar" aria-valuenow="{{ choice.votes }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ choice.votes }}%;">
    {{choice.votes}}%
  </div>
</div>
    </div>
    {% endfor %}
        <!--<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</label><br />-->
    
    <!-- <div class="panel-footer text-center" style="margin-top: 20px;">
                    <input type="submit" style="width:100%;" value="Vote" class="btn btn-primary btn-lg"/>
       </div> -->            
    </form>
            </div>

<!--<input type="submit" value="Vote" />-->
    </div>
 {% endfor %}
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
    </div>

<!--
<div class="row">
    <h2>Polls</h2>
{% if latest_poll_list %}
        {% for poll in latest_poll_list %}
        <div class="col-md-4">
        <h2><a href="{% url 'detail' poll.id %}">{{ poll.question }}</a></h2>
        </div>
        {% endfor %}
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</div>-->
{% endblock %}
